# --- R Specific Files ---
.Rhistory
.RData
.Rproj.user/
*.Rproj

# --- Data Files ---
# WineData.csv

# --- System & OS Files ---
.DS_Store
Thumbs.db
desktop.ini

# --- Temporary Files ---
.tmp
*.log
